@-webkit-keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 100vh;
  background: #0c122c url("../images/bg-desktop.png") no-repeat bottom/contain;
  background-size: 100% 50%;
}

.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 920px;
  width: 98%;
}

.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #3fafdb;
  padding: 20px;
  font-size: 14px;
}

.attribution__link {
  display: inline-block;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  font-weight: bold;
  color: #3fafdb;
}

.attribution__link::after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #dddbff;
}

.attribution__link:hover {
  color: #fff;
}

.attribution__link:hover::after {
  width: 100%;
}

.card-logo, .card-storage {
  background-color: #1d2c67;
  border-radius: 10px;
  padding: 40px;
}

.card-logo {
  padding-right: 120px;
  border-top-right-radius: 100px;
  margin-right: 30px;
}

.card-storage {
  position: relative;
}

.logo {
  margin-bottom: 30px;
}

.icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  background-color: #0c122c;
  padding: 13px;
  border-radius: 10px;
  cursor: pointer;
}

.block-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message {
  position: absolute;
  bottom: 143px;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  padding: 10px 30px;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  text-transform: uppercase;
  background-color: #fff;
  color: #848794;
}

.message__big {
  margin-right: 5px;
  font-size: 40px;
  font-weight: bold;
  color: #000;
}

.message::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 0px;
  top: 65px;
}

.text {
  color: #848794;
}

.amount, .text__selection {
  color: #dddbff;
  font-weight: bold;
}

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0c122c;
  border-radius: 100px;
  padding: 0 4px;
  margin-bottom: 10px;
  height: 20px;
  width: 460px;
}

.progress__value {
  -webkit-animation: load 5s normal forwards;
          animation: load 5s normal forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(to right, #ffa399, #ff4d97);
  height: 12px;
  width: 75%;
  border-radius: 100px;
}

.progress__value::after {
  content: '';
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  body {
    background: #0c122c url("../images/bg-mobile.png") no-repeat center/cover;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-logo {
    margin-bottom: 40px;
  }
  .message {
    bottom: -35px;
    right: 190px;
    border-radius: 10px;
  }
  .message::after {
    display: none;
  }
}

@media screen and (max-width: 578px) {
  .hero {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .container {
    height: 100vh;
  }
  .card-logo, .card-storage {
    max-width: 500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 36px;
  }
  .card-logo {
    margin-top: 130px;
    margin-bottom: 15px;
  }
  .card-storage {
    padding-bottom: 53px;
  }
  .progress {
    max-width: 450px;
    width: 98%;
  }
  .text {
    margin-top: 0;
    text-align: center;
  }
  .message {
    right: 75px;
  }
  .attribution {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */